<div class="col-lg-6 controls">
  <form name="controls" class="form-inline">
    <fieldset>
      <button class="btn" ng-click="drumMachine.advanceAndPlay(-1)">
        <span class="glyphicon glyphicon-backward"></span>
      </button>
      <button class="btn btn-primary" ng-click="drumMachine.play()">
        <span class="glyphicon glyphicon-{{ playButtonClass() }}"></span>
      </button>
      <button class="btn" ng-click="drumMachine.stop()">
        <span class="glyphicon glyphicon-stop"></span>
      </button>
      <button class="btn" ng-click="drumMachine.advanceAndPlay()">
        <span class="glyphicon glyphicon-forward"></span>
      </button>

      <input class="form-control" name="tempoInput" type="number" min="{{ drumMachine.clock.minTempo }}" max="{{ drumMachine.clock.maxTempo }}" ng-model="drumMachine.clock.tempo" ng-model-options="{ updateOn: 'blur' }" integer />
      <label>BPM</label>

      <input class="form-control" name="swingInput" type="number" min="0" max="85" ng-model="drumMachine.clock.swingPercent" ng-model-options="{ updateOn: 'blur' }" integer />
      <label>% Swing</label>

      <span ng-show="!drumMachine.clock.validTempo()">Please enter a tempo between 10 and 240.</span>
    </fieldset>
  </form>
</div>
